
.col-0ch { flex: 0 0 auto; padding-left: 0; padding-right: 0; width: 0ch; }
.col-1ch { flex: 0 0 auto; padding-left: 0; padding-right: 0; width: 1ch; }
.col-2ch { flex: 0 0 auto; padding-left: 0; padding-right: 0; width: 2ch; }
.col-3ch { flex: 0 0 auto; padding-left: 0; padding-right: 0; width: 3ch; }
.col-4ch { flex: 0 0 auto; padding-left: 0; padding-right: 0; width: 4ch; }
.col-5ch { flex: 0 0 auto; padding-left: 0; padding-right: 0; width: 5ch; }
.col-6ch { flex: 0 0 auto; padding-left: 0; padding-right: 0; width: 6ch; }
.col-7ch { flex: 0 0 auto; padding-left: 0; padding-right: 0; width: 7ch; }
.col-8ch { flex: 0 0 auto; padding-left: 0; padding-right: 0; width: 8ch; }
.col-9ch { flex: 0 0 auto; padding-left: 0; padding-right: 0; width: 9ch; }
.col-10ch { flex: 0 0 auto; padding-left: 0; padding-right: 0; width: 10ch; }
.col-11ch { flex: 0 0 auto; padding-left: 0; padding-right: 0; width: 11ch; }
.col-12ch { flex: 0 0 auto; padding-left: 0; padding-right: 0; width: 12ch; }
.col-13ch { flex: 0 0 auto; padding-left: 0; padding-right: 0; width: 13ch; }
.col-14ch { flex: 0 0 auto; padding-left: 0; padding-right: 0; width: 14ch; }
.col-15ch { flex: 0 0 auto; padding-left: 0; padding-right: 0; width: 15ch; }
.col-16ch { flex: 0 0 auto; padding-left: 0; padding-right: 0; width: 16ch; }
.col-17ch { flex: 0 0 auto; padding-left: 0; padding-right: 0; width: 17ch; }
.col-18ch { flex: 0 0 auto; padding-left: 0; padding-right: 0; width: 18ch; }
.col-19ch { flex: 0 0 auto; padding-left: 0; padding-right: 0; width: 19ch; }
.col-20ch { flex: 0 0 auto; padding-left: 0; padding-right: 0; width: 20ch; }
.col-21ch { flex: 0 0 auto; padding-left: 0; padding-right: 0; width: 21ch; }
.col-22ch { flex: 0 0 auto; padding-left: 0; padding-right: 0; width: 22ch; }
.col-23ch { flex: 0 0 auto; padding-left: 0; padding-right: 0; width: 23ch; }
.col-24ch { flex: 0 0 auto; padding-left: 0; padding-right: 0; width: 24ch; }
.col-25ch { flex: 0 0 auto; padding-left: 0; padding-right: 0; width: 25ch; }
.col-26ch { flex: 0 0 auto; padding-left: 0; padding-right: 0; width: 26ch; }
.col-27ch { flex: 0 0 auto; padding-left: 0; padding-right: 0; width: 27ch; }
.col-28ch { flex: 0 0 auto; padding-left: 0; padding-right: 0; width: 28ch; }
.col-29ch { flex: 0 0 auto; padding-left: 0; padding-right: 0; width: 29ch; }
.col-30ch { flex: 0 0 auto; padding-left: 0; padding-right: 0; width: 30ch; }
.col-31ch { flex: 0 0 auto; padding-left: 0; padding-right: 0; width: 31ch; }
.col-32ch { flex: 0 0 auto; padding-left: 0; padding-right: 0; width: 32ch; }
.col-33ch { flex: 0 0 auto; padding-left: 0; padding-right: 0; width: 33ch; }
.col-34ch { flex: 0 0 auto; padding-left: 0; padding-right: 0; width: 34ch; }
.col-35ch { flex: 0 0 auto; padding-left: 0; padding-right: 0; width: 35ch; }
.col-36ch { flex: 0 0 auto; padding-left: 0; padding-right: 0; width: 36ch; }
.col-37ch { flex: 0 0 auto; padding-left: 0; padding-right: 0; width: 37ch; }
.col-38ch { flex: 0 0 auto; padding-left: 0; padding-right: 0; width: 38ch; }
.col-39ch { flex: 0 0 auto; padding-left: 0; padding-right: 0; width: 39ch; }
.col-40ch { flex: 0 0 auto; padding-left: 0; padding-right: 0; width: 40ch; }
.col-50ch { flex: 0 0 auto; padding-left: 0; padding-right: 0; width: 50ch; }
.col-60ch { flex: 0 0 auto; padding-left: 0; padding-right: 0; width: 60ch; }
.col-70ch { flex: 0 0 auto; padding-left: 0; padding-right: 0; width: 70ch; }
.col-80ch { flex: 0 0 auto; padding-left: 0; padding-right: 0; width: 80ch; }
.col-90ch { flex: 0 0 auto; padding-left: 0; padding-right: 0; width: 90ch; }
.col-100ch { flex: 0 0 auto; padding-left: 0; padding-right: 0; width: 100ch; }
.col-110ch { flex: 0 0 auto; padding-left: 0; padding-right: 0; width: 110ch; }
.col-120ch { flex: 0 0 auto; padding-left: 0; padding-right: 0; width: 120ch; }
.col-130ch { flex: 0 0 auto; padding-left: 0; padding-right: 0; width: 130ch; }
.col-140ch { flex: 0 0 auto; padding-left: 0; padding-right: 0; width: 140ch; }
.col-150ch { flex: 0 0 auto; padding-left: 0; padding-right: 0; width: 150ch; }
.col-200ch { flex: 0 0 auto; padding-left: 0; padding-right: 0; width: 200ch; }
.col-250ch { flex: 0 0 auto; padding-left: 0; padding-right: 0; width: 250ch; }
.col-300ch { flex: 0 0 auto; padding-left: 0; padding-right: 0; width: 300ch; }

.col-grow { flex: 1 0 auto; padding-left: 0; padding-right: 0; }
