
.col-width
{
	flex: 0 0 auto;
	padding-left: 0;
	padding-right: 0;
	width: 0ch;
}
.col-grow
{
	flex: 1 0 auto;
	width: 0ch;
	padding-left: 0;
	padding-right: 0;
}

.w-0ch { width: 0ch; }
.w-1ch { width: 1ch; }
.w-2ch { width: 2ch; }
.w-3ch { width: 3ch; }
.w-4ch { width: 4ch; }
.w-5ch { width: 5ch; }
.w-6ch { width: 6ch; }
.w-7ch { width: 7ch; }
.w-8ch { width: 8ch; }
.w-9ch { width: 9ch; }
.w-10ch { width: 10ch; }
.w-11ch { width: 11ch; }
.w-12ch { width: 12ch; }
.w-13ch { width: 13ch; }
.w-14ch { width: 14ch; }
.w-15ch { width: 15ch; }
.w-16ch { width: 16ch; }
.w-17ch { width: 17ch; }
.w-18ch { width: 18ch; }
.w-19ch { width: 19ch; }
.w-20ch { width: 20ch; }
.w-21ch { width: 21ch; }
.w-22ch { width: 22ch; }
.w-23ch { width: 23ch; }
.w-24ch { width: 24ch; }
.w-25ch { width: 25ch; }
.w-26ch { width: 26ch; }
.w-27ch { width: 27ch; }
.w-28ch { width: 28ch; }
.w-29ch { width: 29ch; }
.w-30ch { width: 30ch; }
.w-31ch { width: 31ch; }
.w-32ch { width: 32ch; }
.w-33ch { width: 33ch; }
.w-34ch { width: 34ch; }
.w-35ch { width: 35ch; }
.w-36ch { width: 36ch; }
.w-37ch { width: 37ch; }
.w-38ch { width: 38ch; }
.w-39ch { width: 39ch; }
.w-40ch { width: 40ch; }
.w-50ch { width: 50ch; }
.w-60ch { width: 60ch; }
.w-70ch { width: 70ch; }
.w-80ch { width: 80ch; }
.w-90ch { width: 90ch; }
.w-100ch { width: 100ch; }
.w-110ch { width: 110ch; }
.w-120ch { width: 120ch; }
.w-130ch { width: 130ch; }
.w-140ch { width: 140ch; }
.w-150ch { width: 150ch; }
.w-200ch { width: 200ch; }
.w-250ch { width: 250ch; }
.w-300ch { width: 300ch; }
