body
{
	background-color: #fafafa;
}

@media (prefers-color-scheme: dark)
{
	*
	{
		background-color: #222 !important;
		color: #ddd !important;
	}
}
.card:hover
{
	background-color: #eee;
	cursor: pointer;
}